# Virtual Environment
env/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# Media 
media/

# Static files collected by collectstatic
assets/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/